body{
  height: 100%;
  background: #fff;
}
.aui-list-item .aui-list-item-inner .validate_code{
  width: 35%;
}
#authCode{
  width: 50%;
  display: inline-block;
}
#codeImage{
  display: inline-block;
  position: absolute;
  top: 10px;
}
.label1{
  padding-top: 10px;
  padding-bottom: 10px;
}
.label2{
  padding-bottom: 10px;
}
.doc_community{
  padding-left: 17px;
}
.aui-btn{
  flex: 1;
}
